.hero{
     height: 50vh;
     background: black;
     display: flex;
     gap: 20px;
     height: 600px;
}
.hero-left{
     flex: 1;
     display: flex;
     margin-top: 90px;
     color: rgb(234, 225, 204);
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     font-size: 40px;
     padding-left: 80px;
     text-shadow: 0px 0px 10px orangered;
     animation: slideleft 2s ease-in;
     opacity: 1;

}
@keyframes slideleft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.5;
    }
}
.hero-left h2{
     margin-top: 45px;
     color: rgb(234, 225, 204);
     font-size: 45px;
     font-weight: 600;
}
.hero-left h1{
     margin-top: -30px;
     color: rgb(234, 225, 204);
     font-size: 55px;
     font-weight: 600;
}
.hero-left h3{
     color: rgb(234, 225, 204);
     gap: 10px;
     margin-top: 30px;
     font-size: 40px;
     font-weight: 600;
}
.hero-latest-btn button{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     width: 250px;
     height: 50px;
     border-radius: 75px;
     background-color: orangered;
     color: black;
     font-size: 22px;
     margin-top: 35px;
     font-weight: 500;
     cursor: pointer;

}
.hero-right{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     animation: 20s aditya infinite ease-in-out;
    }
    @keyframes aditya{
        
        from{
            transform: rotateY(360deg);
        }
        to{
            transform: rotate(0deg);
        }
}

