.offers {
     display: flex;
     flex-direction: column;
     max-width: 80%;
     height: 625px;
     margin: 30px;
     margin-top: 100px;
     margin-left: 160px;
     background-image: linear-gradient(to top, #eedcc4 0%, #eee3d6 0%);
     border: 1px solid black;
     box-shadow: 0px 0px 10px 0px black;
     border-radius: 30px;
     text-align: center;
     font-size: 30px;
     font-family: "Dancing Script", serif;
     background-color: rgb(225, 216, 195);
}

.offers>h1 {
     margin-top: 40px;
     margin-bottom: 40px;
     font-size: 55px;
     font-weight: 600;
     /* margin-bottom: 20px; */
     font-family: "Dancing Script", serif;
}

.offers>hr {
     width: 100%;
     height: 2px;
     border: 1px solid rgb(225, 216, 195);

}