.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: rgb(225, 216, 195);
    
}

.card-item{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
.card-img{
    width: 100%;
    max-width: 160px; 
    height: 160px;    
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 12px;
} 

   
