/* Card style for each collection item */
.collection-item {
     width: 350px;
     height: 450px;
     margin-left: 3rem;
     border: 1px solid rgb(225, 216, 195);
     margin-top: 1rem;
     margin-left: 20px;
     align-items: center;
     text-align: center;
     padding-bottom: 1rem;
     background-color: orangered;
     color: white;
     border-radius: 20px;
     gap: 20px;
     margin-bottom: 3rem;
     box-shadow: 0px 0px 10px 0px black;
}

.collection-item:hover {
     box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
     transform: scale(1.1);
     transition: 0.6s;
}

.collection-item img {
     width: 100%;
     height: 250px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}

.collection-item h1 {
     font-size: 35px;
     font-weight: 600;
     margin-top: 20px;
}

.description {
     font-size: 25px;
     /* color: #555; */
     margin: 4px 0;
}

.price {
     font-size: 20px;
     /* color: #555; */
     margin: 4px 0;
     font-size: 30px;
}

.add-to-cart {
     margin-top: 12px;
     padding: 8px 18px;
     background: rgb(225, 216, 195);
     color: black;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     font-weight: 500;
}

.add-to-cart:hover {
     background:black;
     color: white;
}

.new-collection {
     padding: 32px 0;
     min-height: 100vh;
     background-color: rgb(225, 216, 195);
}

.new-collection h1 {
     text-align: center;
     font-size: 2rem;
     margin-bottom: 8px;
     /* color: #222; */
}

.new-collection hr {
     width: 60px;
     border: 2px solid #007bff;
     margin: 0 auto 24px auto;
     border-radius: 2px;
}

.collections {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 16px;
}