.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px;
     box-shadow: 0 1px 3px -2px;
     background-color: rgb(225, 216, 195);
     position: sticky;
     top: 0;
     z-index: 2;


}
.nav-logo{
     display: flex;
     align-items: center;
     gap: 10px;
}
.nav-logo p{
     color: black;
     font-size: 22px;
     font-weight: 600;
     background-color: rgb(225, 216, 195);
}
.nav-links{
     display: flex;
     align-items: center;
     gap: 20px;
     list-style: none;
     color: #626262;
     font-size: 23px;
}
.nav-links li{
     cursor: pointer;
     transition: color 0.2s;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 5px;

}
.nav-links hr{
     border: none;
     width: 80%;
     height: 3px;
     color: orangered;
     background-color: orangered;
     border-radius: 10px;
}
.nav-links li:hover {
     color: orangered;
}
.nav-login-cart{
     display: flex;
     align-items: center;
     gap: 15px;
     
}
.nav-login-cart button{
     width: 100px;
     height: 40px;
     outline: none;
     border:1px solid #7a7a7a ;
     border-radius: 15px;
     font-size: 16px;
     font-weight: 500;
     background: white;
     background-color: rgb(225, 216, 195);
     cursor: pointer;

}
.nav-login-cart button:active{
     background: orangered;     
}
.nav-cart-count{
     width: 22px;
     height: 22px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: orangered;
     color: white;
     border-radius: 50%;
     margin-top: -35px;
     margin-left: -35px;
}

.nav-searchbar {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0 20px;
}

.nav-searchbar input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 16px;
  width: 180px;
  transition: width 0.3s;
}

.nav-searchbar input[type="text"]:focus {
  width: 240px;
  /* border-color: orangered; */
}

.nav-searchbar button {
  padding: 8px 16px;
  border: none;
  /* background: orangered; */
  color: purple;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.nav-searchbar button:hover {
  background: #d84315;
}